<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
  <title>Gratitude Journal</title>
  <meta property="og:url" content="https://safe-dawn-22162.herokuapp.com/" />
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Gratitude Journal" />
  <meta property="og:description" content="Share and save daily gratitudes" />
  <meta property="og:image" content="https://safe-dawn-22162.herokuapp.com/assets/img/nature.jpg"/>
  <meta property="fb:app_id" content="289251682449047" />
  <link rel="preconnect" href="https://cors-anywhere.herokuapp.com/https://type.fit/api/quotes">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <link rel="stylesheet" href="/assets/dist/calendar.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <div id="fb-root"></div>
  <div class="container background">
    {{{body}}}

    <footer class="footer">
      <div class="content has-text-centered">
        <p id="footer-text">
          Gratitude Journal © 2020
        </p>
        <p>
          <a href="https://www.privacypolicies.com/privacy/view/83d1c40c52a2fd2a72197de8ffd237bb">Privacy Policy</a>
        </p>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="/assets/dist/calendar.js"></script>
  <script src="/assets/js/gratitude.js"></script>
  <script src="/assets/js/signup.js"></script>
  <script src="/assets/js/login.js"></script>

</body>


</html>