<!--Navbar-->
    <nav class="navbar is-info is-spaced" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <h1 class="is-size-1"> Gratitude Journal</h1>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-inverted is-info" id="logout-button">
                <b>Logout</b> 
               </a>
            </div>
          </div>
        </div>
      </nav>
      
      <p class= "quote">Success is not final, failure is not fatal: it is the courage to continue that counts. </p>
      <p class="quote-author"><b>Winston Churchill</b></p>
      <!--Main section-->
      <div class="tile is-ancestor">
  <div class="tile is-vertical is-5">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification tile-background">
          <p class="subtitle">Click on date to view past gratitudes</p>
        </article>
        <article class="tile is-child notification tile-background">
          <p class="subtitle is-size-3" id="raok-title">Random acts of kindness</p>
          <p class="text is-size-6">Create a holiday to celebrate someone you love. Find opportunities to give compliments. Help an elderly person with their groceries. Call your mum. Call a friend. Mow the lawn for your neighbours. Hold open the door for someone. Pay for someone's meal at a restaurant. Pick up litter on the beach. Send an email to a family member or friend. Take the time to listen to someone. Spend time with your grandparents. Cook a meal for a neighbour.
          </p>
        </article>
      </div>
    </div>
    
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification">
      <div class="content">
        <p class="subtitle has-text-centered is-size-3" id="date"></p>
        <div class="content">
            <!-- Content -->
            <div class="field">
            <div class="field">
            <label class="label">Today I am grateful for:</label>
            <div class="control">
                <textarea class="textarea" placeholder="Textarea"></textarea>
            </div>
            </div>
            <div class="field">
                <div class="control">
                <button class="button is-info" id="save-gratitude"><b>Save</b></button>
                <label class="checkbox is-pulled-right">
                <input type="checkbox">
                Check box to share gratitudes
                </label>
            </div>
            </div>
            
            <div class="field">
            <div class="field">
            <label class="label">Todays act of kindness:</label>
            <div class="control">
                <textarea class="textarea" placeholder="Textarea"></textarea>
            </div>
            </div>

            <div class="field">
            <div class="control">
                <button class="button is-info" id="save-kindness"><b>Save</b></button>
            </div>
            </div>
            </div>
            </div>
            </article>
            </div>
            </div>

      
      