<!--Navbar-->
    <nav class="navbar is-info is-spaced" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <h1 class="is-size-1"> Gratitude Journal</h1>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-inverted is-info is-small" id="view-button">
                <b>View Gratitudes</b> 
              </a>
              <a class="button is-inverted is-info is-small" id="logout-button">
                <b>Logout</b> 
              </a>
              
            </div>
          </div>
        </div>
      </nav>
      
      <p class= "quote"></p>
      <p class="quote-author"><b></b></p>
      <!--Main section-->
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-5">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box tile-background">
      <p class="title has-text-centered">Random acts of kindness ideas</p>
      <article class="message">
        <div class="message-body is-italic">
          Create a holiday to celebrate someone you love.
        </div>
        <div class="message-body is-italic">
          Find opportunities to give compliments.
        </div>
        <div class="message-body is-italic">
          Help an elderly person with their groceries.
        </div>
        <div class="message-body is-italic">
          Call your mum.
        </div>
        <div class="message-body is-italic">
          Call a friend.
        </div>
        <div class="message-body is-italic">
         Mow the lawn for your neighbours.
        </div>
        <div class="message-body is-italic">
          Hold open the door for someone.
        </div>
        <div class="message-body is-italic">
          Pay for someone's meal at a restaurant.
        </div>
        <div class="message-body is-italic">
          Pick up litter on the beach.
        </div>
        <div class="message-body is-italic">
          Send an email to a family member or friend.
        </div>
        <div class="message-body is-italic">
         Take the time to listen to someone.
        </div>
        <div class="message-body is-italic">
         Spend time with your grandparents.
        </div>
        <div class="message-body is-italic">
         Offer someone a lift
        </div>
        <div class="message-body is-italic">
         Teach someone a new skill
        </div>
        <div class="message-body is-italic">
         Give money to a busker
        </div>
        <div class="message-body is-italic">
         Offer to walk someone’s dog
        </div>
        <div class="message-body is-italic">
         Give someone a book recommendation
        </div>
        <div class="message-body is-italic">
         Give blood
        </div>
        <div class="message-body is-italic">
         Say hello to strangers you pass in the street
        </div>
        <div class="message-body is-italic">
         Let a car merge in front of you
        </div>
        <div class="message-body is-italic">
         Write a LinkedIn recommendation for a co-worker or connection
        </div>
      </article>
    </article>
        
      </div>
    </div>
  </div>
  
  <div class="tile is-parent">
    <article class="tile is-child notification">
      <div class="content">
        <p class="subtitle has-text-centered is-size-3" id="date"></p>
        <div class="content">
            <!-- Content -->
            <div class="field">
            <div class="field">
            <label class="label">Today I am grateful for:</label>
            <div class="control">
                <textarea class="textarea" id="gratitude-input" placeholder="Type here"></textarea>
            </div>
            </div>
            
            <div class="field">
            <div class="field">
            <label class="label">Todays act of kindness:</label>
            <div class="control">
                <textarea class="textarea" id="action-input" placeholder="Type here" default="none"></textarea>
            </div>
            </div>
            <div class="field">
            <div class="control">
                <button class="button is-info" id="edit-button"><b>Edit</b></button>
                <button class="button is-info" id="save-button"><b>Save</b></button>
                <label class="checkbox is-pulled-right">
                <input type="checkbox" id="checkbox">
                Share gratitude
                </label>
            </div>
            </div>
            </div>
            </div>
    </article>
            </div>
    </div>

  <div class="tile is-parent  is-horizontal-center">
          <figure class="image is-child is-1231x575">
             <img src='/assets/img/sea.jpg' alt="ocean and mountains">
           </figure>
  </div>

      
      