<!--Navbar-->
<nav class="navbar is-info is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class="is-size-1"> Gratitude Journal</h1>
  </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
           <a class="button is-inverted is-info" id="write-button">
            <b id="write-button-text">New Gratitude</b> 
          </a>
          <a class="button is-inverted is-info" id="logout-button">
            <b>Logout</b> 
          </a>
        </div>
      </div>
    </div>
</nav>
      
<p class= "quote"></p>
  <p class="quote-author"><b></b></p>
    <!--Main section-->
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-5">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification tile-background">
              <p class="subtitle">Click on date to view past gratitudes</p>
              <div class="calendar">
            </article>
            <figure class="image is-child is-1231x575">
             <img src='/assets/img/beach.jpg' alt="beach">
            </figure>
          </div>
        </div>
      </div>
  
    <div class="tile is-parent">
      <article class="tile is-child notification">
        <div class="content">
           <p class="subtitle has-text-centered is-size-3">Reflecting on past gratitudes</p>
           <p class="count-gratitudes">You have <span class="count"></span> gratitude/s saved!</p>
           <p class="subtitle is-size-4" id="search-date">{{this.createdAt}}</p>
           <p class="subtitle is-size-4">Gratitude</p>
           <p class="text is-size-6 is-italic" id="search-gratitude">{{this.gratitude}}</p>
           <p class="subtitle is-size-4">Act of Kindness</p>
           <p class="text is-size-6 is-italic" id="search-action">{{this.action}}</p>
        </div>
      </article>
    </div>
    </div>

    
    

