<!--Navbar-->
<nav class="navbar is-info is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class="is-size-1"> Gratitude Journal</h1>
  </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
           <a class="button is-inverted is-info" id="write-button">
            <b>New Gratitude</b> 
          </a>
          <a class="button is-inverted is-info" id="logout-button">
            <b>Logout</b> 
          </a>
        </div>
      </div>
    </div>
</nav>
      
<p class= "quote"></p>
  <p class="quote-author"><b></b></p>
    <!--Main section-->
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-5">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification tile-background">
              <p class="subtitle">Click on date to view past gratitudes</p>
              <div class="calendar">
            </article>
            <article class="tile is-child notification tile-background">
              <p class="subtitle is-size-3" id="raok-title">Random acts of kindness ideas</p>
              <p class="text is-size-6 has-text-justified is-italic">Create a holiday to celebrate someone you love. Find opportunities to give compliments. Help an elderly person with their groceries. Call your mum. Call a friend. Mow the lawn for your neighbours. Hold open the door for someone. Pay for someone's meal at a restaurant. Pick up litter on the beach. Send an email to a family member or friend. Take the time to listen to someone. Spend time with your grandparents. Cook a meal for a neighbour.
              </p>
            </article>
          </div>
        </div>
      </div>
  
    <div class="tile is-parent">
      <article class="tile is-child notification">
        <div class="content">
          <p class="subtitle has-text-centered is-size-3">Reflecting on past gratitudes</p>
           <p class="subtitle is-size-4" id="search-date">{{this.createdAt}}</p>
           <p class="subtitle is-size-4">Gratitude</p>
           <p class="text is-size-6 is-italic" id="search-gratitude">{{this.gratitude}}</p>
          <p class="subtitle is-size-4">Act of Kindness</p>
           <p class="text is-size-6 is-italic" id="search-action">{{this.action}}</p>
           <figure class="image is-child is-628x354">
             <img src='/assets/img/beach.jpg'>
           </figure>
        </div>
      </article>
    </div>
    </div>
    

