hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 
  
  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    font-stretch: expanded;
  }