hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 
  
  h1, .title {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    font-stretch: expanded;
    margin-bottom: 0.2em;
    margin-left: 0.3em;
  }

  .message-body {
    margin-top: 1em;
  }

  .main {
    background-image: url("nature.jpg");
  }

  .quote {
    margin-top: 2em;
    text-align: center;
    font-style: italic;
  }

  .quote-author {
    text-align: center;
    font-style: italic;
    margin-bottom: 1em;
  }

  .field {
    padding: 0.5em;
  }

